[gcode_macro START_PRINT]
# Superslicer start gcode:
# START_PRINT BED_TEMP={first_layer_bed_temperature} EXTRUDER_TEMP={first_layer_temperature[0]} AREA_START={first_layer_print_min[0]},{first_layer_print_min[1]} AREA_END={first_layer_print_max[0]},{first_layer_print_max[1]} TOOL=[initial_extruder]

gcode:
  {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
  {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(200)|float %}
  {% set TOOL = params.TOOL|default(2)|int %}
  G90 ; absolute coords
  M83 ; relative extruder coords

  CLEAR_PAUSE ; Clears any paused print. Klipper docs recommend doing this in start gcode
  UPDATE_DELAYED_GCODE ID=delayed_printer_off DURATION=0 ; Clear the power off after 20 minutes idle

  # Heat up bed, start heating extruder
  M117 Heating bed
  SET_WLED RED=1 BLUE=0 GREEN=0
  M104 S{EXTRUDER_TEMP-50}
  M190 S{BED_TEMP}

  # Home and bed leveling
  M117 Homing
  SET_WLED RED=0 BLUE=1 GREEN=0
  HOME_IF_NEEDED
  # If you want to home every time:
  #G28
  #Z_TILT_ADJUST
  #G28 Z

  # Found I didn't need to probe the bed that often, but I can reenable this if that changes. It will probe just the area the print is going to use.
  #M117 Bed Mesh {params.AREA_START} {params.AREA_END}
  #BED_MESH_CALIBRATE AREA_START={params.AREA_START} AREA_END={params.AREA_END}

  # Finish heating extruder and clean nozzle
  PARK
  M117 Heating extruder
  SET_WLED RED=1 BLUE=0 GREEN=0
  M109 S{EXTRUDER_TEMP}

  M117 Selecting extruder
  {% if TOOL == 0 %}
    T0
  {% elif TOOL == 1 %}
    T1
  {% else %}
    M117 Tool not specified
  {% endif %}

  SET_WLED RED=1 BLUE=1 GREEN=1
  PURGE_LINE
  M117 Printing
